@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}
section {
  overflow: auto;
}
h1{
  text-align: center;
  margin-bottom: 30px;
}
.logo{
  float: left;
  font-size: 1.4em;
  color: #fff;
  padding-top: 11px;
  text-transform: uppercase;
  font-weight: bold;
}
.logo:hover {
  color: #fff;
  text-decoration: none;
}
.search_form{
  padding-right: 6px;
  padding-top: 9px;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
.gravatar_edit {
  margin-top: 15px;
}

/* forms */

.form_signup{
  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width:100%;
    margin-bottom: 15px;
    @include box_sizing;
  }
  input {
    height: auto !important;
  }
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}