<h1>Kifus#index</h1>
<p>Find me in app/views/kifus/index.html.erb</p>
<% if @kifus.any? %>
<%= paginate @kifus %>

<%= render "shared/kifus_item" %>

<%= paginate @kifus %>
<% end %>
<%= javascript_pack_tag 'store_location', 'data-turbolinks-track': 'reload' %>

